/wp-config.php
/wp-content/plugins/bbcrm/_auth.php
/crm/protected/config/X2Config.php
/crm/cgi-bin/
/crm/cgi-bin/*
/cgi-bin/
/cgi-bin/*
/crm/assets/
/crm/assets/*
/crm/compass/
/crm/compass/*
/crm/.sass-cache/
/crm/.sass-cache/*
/crm/uploads/
/crm/uploads/*
/crm/uploads2/
/crm/uploads2/*
/crm/protected/runtime/
/crm/protected/runtime/*
/wp-content/uploads/
/wp-content/uploads/*